
    header {
        background-color: #333533;
        border-bottom: 10px solid #000;
        padding: 10px 20px;
      }

    a {
        display: inline-flex;
        align-items: center;
        color: white;
        font-size: 23px;
        font-family: "Ubuntu Mono" , Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        margin-right: 30px;
        text-align: center; 
    }
    nav {
        text-align: right;
    }

    a:before {
        content: "";
        background-color: #007ea7;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        box-shadow: 1px 1px 0px black;
    }

    #button {
                display: inline-block;
                background-color: #007ea7;
                box-shadow: 5px 5px 2px black;
                padding: 14px 16px;
                margin-right: 0px;
                border-radius: 5px;
                transition: transform 100ms linear;
    }

    body{
        margin: 0px;
    }

    #button:hover {
        transform: scale(0.90);
    }
    div {
        display: run-in;
        padding: 0px 0px;
        margin-right: 237px;
        margin-top: 116px;
        margin-bottom: 497px;
        margin-left: 91px;
        background-color: black;
        color: white;
        font-size: 23px;
        font-family: "Ubuntu Mono" , Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-align: center;
        }
    div h2 {
        font-size: 50px;
    }