h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #2a9d8f;
    text-shadow: 4px 4px 0px #000;
}
h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 0px #000;
    
}